body {
  background-color: rgb(27, 27, 27);
}

.michroma-regular {
  font-family: "Michroma", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.mainBody {
  /* background-color: antiquewhite; */
  font-size: 28px;
  font-family: "Michroma", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.calcGUI {
  background-color: rgb(199, 156, 101);
  color: white;
  border: 10px solid grey;
  border-radius: 4px;

  width: 500px;
}

.calcScreen {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 100;
  font-size: 2.5em;
  color: black;
  border: 10px solid black;
  border-radius: 10px;
  background-color: rgba(184, 254, 79, 0.5);

  padding: 10px 5px 0px;
  margin: 10px;
  margin-bottom: 0px;

  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: flex-end;
}

.productName {
  display: flex;
  flex-direction: row;
  align-items: flex-end;

  margin: -20px 0px;

  p {
    color: black;
    font-size: 28px;
    padding-left: 12px;
  }

  .mini {
    font-weight: 100;
  }
}

#calcButtons {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  /* justify-content: space-between; */

  /* #b0 {
    width: 100%;
    align-self: center;
    margin: 0px 100px;
    margin-bottom: 10px;
  } */
}

.clearRow {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 10px;

  flex-flow: wrap-reverse;
  padding: 0px 10px;

  margin-bottom: 10px;
}

#powerButton {
  background-color: black;
  color: white;
  flex: 0 0 calc(50% - 31px);
}

#greyBox {
  width: 50px;
  height: 40px;
  background-color: #1f1f1f;
  border-radius: 10px;
}

.clear {
  flex: 0 0 calc(25% - 31px);
  background-color: grey;
  border: 2px solid black;
  border-radius: 10px;
  color: black;

  box-sizing: border-box;
  margin-bottom: 10px;
  padding: 2px;

  font-size: 1.5em;
  text-align: center;
  cursor: pointer;
}

.AC {
  background-color: orange;
}

.restOfButtons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 10px;

  flex-flow: wrap-reverse;
  padding: 0px 10px;
}

.operand,
.number,
#equals {
  flex: 0 0 calc(25% - 31px);
  background-color: black;
  border-radius: 10px;
  color: white;

  box-sizing: border-box;
  margin-bottom: 10px;
  padding: 2px;

  font-size: 1.5em;
  text-align: center;
  cursor: pointer;
}
